<div class="container" style="margin-top: 130px">
    <div class="d-flex justify-content-center row">
        <button type="button" class="btn" (click)="onClickTop()">
            <div class="card text-white" style="min-height: 300px; min-width: 300px">
                <img src="https://cdn.discordapp.com/attachments/852623664591405157/852857281326350356/thgoods_11_434440_1_1.jpg"
                    class="card-img" />
                <div class="card-img-overlay" style="margin-top: 80px">
                    <h1 class="card-title text-center">Tops</h1>
                </div>
            </div>
        </button>
        <button type="button" class="btn" style="margin-left: 60px" (click)="onClickBottom()">
            <div class="card text-white" style="min-height: 300px; min-width: 300px">
                <img src="https://media.discordapp.net/attachments/852623664591405157/852858423477534770/thgoods_436551_sub8_1.jpg"
                    class="card-img" />
                <div class="card-img-overlay" style="margin-top: 80px">
                    <h1 class="card-title text-center">Bottoms</h1>
                </div>
            </div>
        </button>
    </div>
    <div class="d-flex justify-content-center row" style="margin-top: 40px">
        <div class="input-group mb-3" style="width: 680px">
            <input type="search" class="form-control" placeholder="Search" aria-label="Search"
                aria-describedby="button-addon2" [formControl]="searchText"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"  (click)="search()">
                    <i class="bi bi-search" style="font-size: 16px"></i>
                </button>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px">
        <app-carditem [genderStatus]="genderStatus" [selectType]="selectType" [searchText]="searchText"></app-carditem>
    </div>
</div>
