<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>



    <!--------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435193/item/goods_56_435193.jpg?width=1600&impolicy=quality_75"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">WOMEN UNIQLO U เสื้อ คอกลม แขนสั้น</h5>
                <p class="card-text font-weight-bold">THB 190.00</p>
                <div class="row">
                    <div>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart" style="font-size: 18px"></i>
                        </a>
                        <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                            style="color: black; margin-left: 15px;">
                            <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                        </a>
                    </div>
                    <a href="#" class="card-link" style="margin-left: 15px;">ดูรายละเอียดสินค้า</a>
                </div>

            </div>
        </div>
    </div>

</div>