<div class="row row-cols-1 row-cols-md-4">
    <div *ngFor="let item of products; index as i">
        <div class="col mb-4">
            <div class="card">
                <img [src]="item.img" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{item.name}}</h5>
                    <p class="card-text font-weight-bold">THB{{item.price}}.00</p>
                    <div class="row">
                        <div>
                            <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == true"
                                style="color: black; margin-left: 15px;">
                                <i class="bi bi-heart" style="font-size: 18px"></i>
                            </a>
                            <a class="d-flex align-self-bottom" (click)="clickFav()" *ngIf="s == false"
                                style="color:red; margin-left: 15px;">
                                <i class="bi bi-heart-fill" style="font-size: 18px"></i>
                            </a>
                        </div>
                        <a type="button" class="card-link" style="margin-left: 15px;" data-toggle="modal" data-target="#staticBackdrop">ดูรายละเอียดสินค้า</a>
                        <app-detail></app-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>