<div class="col">
    <div class="bg-white border-bottom row" style="height: 250px;">
        <div class="col-3">
            <br><img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/433031/item/goods_29_433031.jpg?width=1600&impolicy=quality_75" style="width: 85%;">
        </div>
        <div class="col-8" style="padding: 0%;">
            <br><p class="text-break font-weight-bolder">MEN UNIQLO U เสื้อ คอกลม ทรงหลวม (Unisex)</p>
            <p class="text-break font-weight-bolder">THB 590.00</p>
            <p class="text-break text-muted">รหัสสินค้า: 101123</p>
            <a href="product" class="card-link">ดูรายละเอียดสินค้า</a>
        </div>
        <div class="col-1 justify-content-end">
            <br><i class="bi bi-x" style="font-size: 25px; margin-left: 40px;"></i>
        </div>
    </div>

    <div class="bg-white border-bottom row" style="height: 250px;">
        <div class="col-3">
            <br><img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/433031/item/goods_29_433031.jpg?width=1600&impolicy=quality_75" style="width: 85%;">
        </div>
        <div class="col-8" style="padding: 0%;">
            <br><p class="text-break font-weight-bolder">MEN UNIQLO U เสื้อ คอกลม ทรงหลวม (Unisex)</p>
            <p class="text-break font-weight-bolder">THB 590.00</p>
            <p class="text-break text-muted">รหัสสินค้า: 101123</p>
            <a href="product" class="card-link">ดูรายละเอียดสินค้า</a>
        </div>
        <div class="col-1 justify-content-end">
            <br><i class="bi bi-x" style="font-size: 25px; margin-left: 40px;"></i>
        </div>
    </div>
    <div class="bg-white border-bottom row" style="height: 250px;">
        <div class="col-3">
            <br><img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/433031/item/goods_29_433031.jpg?width=1600&impolicy=quality_75" style="width: 85%;">
        </div>
        <div class="col-8" style="padding: 0%;">
            <br><p class="text-break font-weight-bolder">MEN UNIQLO U เสื้อ คอกลม ทรงหลวม (Unisex)</p>
            <p class="text-break font-weight-bolder">THB 590.00</p>
            <p class="text-break text-muted">รหัสสินค้า: 101123</p>
            <a href="product" class="card-link">ดูรายละเอียดสินค้า</a>
        </div>
        <div class="col-1 justify-content-end">
            <br><i class="bi bi-x" style="font-size: 25px; margin-left: 40px;"></i>
        </div>
    </div>
    <div class="bg-white border-bottom row" style="height: 250px;">
        <div class="col-3">
            <br><img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/433031/item/goods_29_433031.jpg?width=1600&impolicy=quality_75" style="width: 85%;">
        </div>
        <div class="col-8" style="padding: 0%;">
            <br><p class="text-break font-weight-bolder">MEN UNIQLO U เสื้อ คอกลม ทรงหลวม (Unisex)</p>
            <p class="text-break font-weight-bolder">THB 590.00</p>
            <p class="text-break text-muted">รหัสสินค้า: 101123</p>
            <a href="product" class="card-link">ดูรายละเอียดสินค้า</a>
        </div>
        <div class="col-1 justify-content-end">
            <br><i class="bi bi-x" style="font-size: 25px; margin-left: 40px;"></i>
        </div>
    </div>

</div>
