<div class="d-flex align-items-center bg-white border-bottom fixed-top" style="min-height: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h5 class="font-weight-normal" style="margin-top: auto;">Company name</h5>
                    <ul class="nav" style="margin-left: 25px;">
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-normal" href="#">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-normal" href="#">Women</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                    <ul class="nav justify-content-end">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-person-circle" style="font-size: 22px;"></i>
                        </a>
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-heart-fill" style="font-size: 22px;"></i>
                        </a>
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-cart-fill" style="font-size: 22px;"></i>
                        </a>
                    </ul>

            </div>
        </div>
    </div>
</div>
