<div class="d-flex align-items-center bg-white border-bottom fixed-top" style="min-height: 80px">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h5 class="font-weight-normal" style="margin-top: auto">
                        Company name
                    </h5>
                    <ul class="nav" style="margin-left: 25px">
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-normal" href="men">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-normal" href="women">Women</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                    <div class="dropdown">
                        <a class="nav-link text-dark" href="login" id="dropdownMenuLink" data-toggle="dropdown">
                            <i class="bi bi-person-circle" style="font-size: 22px"></i>
                        </a>
                        <div *ngIf="status_icon == true" class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: 14px">
                            <a class="dropdown-item" href="edit">แก้ไขบัญชี</a>
                            <a class="dropdown-item" href="oder">ประวัติการซื้อ</a>
                            <a class="dropdown-item" (click)='signout()'>ออกจากระบบ</a>
                        </div>
                        
                    </div>
                    <a class="nav-link text-dark" href="favorite">
                        <i class="bi bi-heart-fill" style="font-size: 22px"></i>
                    </a>
                    <a class="nav-link text-dark" href="cart">
                        <i class="bi bi-cart-fill" style="font-size: 22px"></i>
                    </a>
                    <a  *ngIf="status_icon == false" class="nav-link text-dark" href="login">
                        <i class="bi bi-box-arrow-in-right" style="font-size: 22px"></i>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>